aside {
    height: 1000px; 
    padding-top: 30px;  
    float: left;
}
main{
    margin-left:400px;
}
footer{
    width: 900px; 
    height: 100px; 
    text-align: center;
    padding-top: 30px; 
    margin: auto;
}


h1, h2,h3 {
    margin-left: 20px;
    font-size:45px;
    text-decoration-color: antiquewhite
}
hr {
    border-bottom: 3px solid black; 
    width: 100%;
    margin-top: 1cm;  
}
span,a{
    margin-left: 30px;
    font-size:20px;
}
.zagolovok{
    font-size:25px;
    text-decoration: underline;
    margin-left: 30px;
}
.works{
    font-size:35px;
    font-weight: bold;
    color: rgb(206, 195, 255);
}
.line {
    border-bottom: 5px solid black; 
    width: auto;
    margin-top: 3cm;
}
.style_span{
    font-style: oblique;
    font-weight: bold;
    margin-left: -1px;
}
.phone {
    text-decoration: underline;
}
.background {
   background-color:#0f0106;
}
.displayed{
    text-align: center;
    margin: auto;
}
ul,ol{
    font-size: 22px;

}
.info{
    font-size: 450;
    color: #1bb15f;
    font-weight: bold;
}
p {
    margin-left: 30px;
    font-size:20px;
    text-decoration-color:antiquewhite
}
.list{
    position: relative;
    display: inline-block; 
    left: 25%;
    height: 30px;
    transform: translate(-50%, -50%);
    margin-left: 0px;
}
.backgr {
    background-image: url(../media/myph1.png);
    backdrop-filter: blur(10px);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}
.kontakt{
    text-align: center;
    font-size: 50;
}
.po_centry{
    font-size: 50px;
    margin-left: 45%;
}
body{
color:rgb(240, 255, 255)
}
.menu{
    display: inline;
    text-align: center;
    border-width: 100%; 
}
#horizontal-list {
    display: flex; /* Використовуйте flexbox для розміщення елементів в ряд */
    flex-direction: row; /* Відображайте елементи горизонтально, а не вертикально */
    list-style: none; /* Відключіть стандартну нумерацію списку */
    padding-left: 35%; /* Видаліть відступи списку */
    
}

#horizontal-list li {
    margin-left: 20px; /* Додайте відступ між елементами списку */
    text-align: center;
}
