table {
  border-collapse: collapse;
  width: 800px;
  height: 800px;
  margin: 0 auto;
  border: 2px solid black;
}

td {
  width: 80px;
  height: 80px;
  text-align: center;
  vertical-align: middle;
  font-size: 60px;
}

tr:nth-child(even) td:nth-child(odd),
tr:nth-child(odd) td:nth-child(even) {
  background-color: #d6d4d4;
}
