#messages {
    list-style-type: none;
    padding: 0;
  }
  
  .message-content {
    background-color: rgb(196, 222, 196);
    color: black;
    padding: 10px; 
    margin-bottom: 10px;
  }
  
  .hide-btn {
    background-color: transparent; 
    color: red; 
    padding: 5px 10px;
    border: none;
    cursor: pointer;
  }
  
